
<!--edit and delete options here-->

<main>
  <%= render partial: "products/jumbotron", locals: {text: @category.category.capitalize } %>
  <%= render partial: "products/cards", locals: {products: @category.products } %>
</main>


