<h2>Browse our comfy-cozy products</h2>
<!--<h4> Search by Category: </h4>-->
<%# @categories.each do |category| %>
  <%#= link_to "#{category.category}", category_path(category.id) %>
<%# end %>

<% if @available_products.empty? %>
  <p>Sorry, no products!</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Category</th>
        <th>Seller</th>
      </tr>
    </thead>

    <tbody>
      <% @available_products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= display_money(product.price) %></td>
          <td><%= product.category %></td>
          <td><%= link_to product.merchant.username, merchant_path(product.merchant) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>