
<!--<div class="jumbotron-container">-->
<!--  <div class="jumbotron jumbotron-fluid">-->
<!--    <div class="container">-->
<!--      <h1 class="display-4"></h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<main>
  <%= render partial: "jumbotron", locals: {text: "Browse our Comfy-Cozy Products" } %>
  <%= render partial: "cards", locals: {products: @available_products } %>
</main>